
.test{
    color: blue;
    background-color: black;
}

.floating-box {
    display: inline-block;
    margin: 10px;

}
img {
    border-radius: 8px;
}

#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  button,
        div,
        form,
        input {
            margin: 10px;
        }