
.test{
    color: blue;
    background-color: black;
}

.floating-box {
    display: inline-block;
    margin: 10px;

}
img {
    border-radius: 8px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* button,div,form,input {
     /* margin: 10px; */
/* } */ 

.map-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    padding-top:56.25%;
}

#usa svg{
    max-width: 100%;
    height: auto;
}
.modal-styles{
    background-color: blanchedalmond;
}

.modal-header{
    background-color: black;
    color: blanchedalmond;
}
.close-modal-button{
    background-color: black;
    color: blanchedalmond;
}
    