.b{
    background-image: url(https://media.giphy.com/media/B3E8bej5kwK3K/giphy.gif);
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}

body, html {
        height: 100%;
    }
.test{
    color: blue;
    background-color: black;
}

.carousel {
    opacity: 1.0;
    width: 50%;
    margin: auto;
}

/* map looper */
#mapLooper {
    border: 2px solid #D5CC5A;
    overflow: hidden;
    margin: 15px auto;
    max-width: 100%;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }
  
  iframe {
    border: 0px none;
    margin-left: 1px;
    /* height: 480px; */
    height: 600px;
    margin-top: 1px;
    width: 100%;
  }

  /* end of map looper */


.floating-box {
    display: inline-block;
    margin: 10px;

}
img {
    border-radius: 8px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* button,div,form,input {
     /* margin: 10px; */
/* } */ 


.map-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    padding-top:56.25%;
}

.usa-wrapper {
    width: 100%;
    padding-top: 65%;
}

.usa-aspect-ratio {
    position:absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#usa {
    width:100%;
    height: 100%;
}

#usa svg{
    max-width: 100%;
    height: auto;
}
.hidden-stuff{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    left: 100%;
    width: 50%;
    background-color: white;
    transition: left 0.5s ease-in;
}
.hidden-stuff.active {
    left: 50%;
    transition: left 0.5s ease-in;
}

#usa-box, #table-box {
    background-color: rgba(244, 248, 241, 0.05);
    padding: 10px;
}

tr.park-row:hover { 
    background-color: lightgreen;
}

.modal-styles{
    background-color: blanchedalmond;
}

.search-header{
    background-color: black;
    color: blanchedalmond;
}
.close-modal-button{
    background-color: black;
    color: blanchedalmond;
}
.table-style{
   width: 50%;
   /* margin: left ; */
   text-align: center;
}
.test-position{
    position: relative;
    float: left;
} 
button{
    background-color: white;
    color: black;
}
.button2{
    background-color: black;
    color: white;
}
